html {
    font-family: sans-serif;
    font-size: var(--font-size);
}

:root {
    --font-size: 10px;
    --border-width: 3px;
    --gray: gray;
    --box1-main-color: #28a745;
    --box2-main-color: #563d7c;
    --box3-main-color: #ffc107;
    --box4-main-color: #dc3545;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    max-width: 700px;
    min-height: 80vh;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%233333336E' stroke-width='4' stroke-dasharray='7%2c 8%2c 7%2c 10' stroke-dashoffset='97' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 10px;
    font-size: 1rem;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 95%;
    max-width: 600px;
    padding: 1.5em 1em; 
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgb(209, 209, 209, 82%);
    -webkit-box-shadow: 2px 2px 6px 0px rgb(209, 209,209, 82%);
}

.box-flex {
    display: flex;
}

.exit-icon {
    margin-inline: auto 1em;
}

.exit-icon i {
    color: var(--gray);
}

.exit-icon:hover {
    cursor: pointer;
}

.message-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.message {
    margin-left: 1.3em;
}

.desc {
    font-size: 1.2rem;
    padding-top: 0.3em;
}

.time {
    font-size: 1.2rem;
    margin-top: 0.5em;
    color: var(--gray);
}

span {
    margin-left: 1.3em;
    font-size: 1.1rem;
}

.box1 {
    border-left: var(--border-width) solid var(--box1-main-color);
}

.box2 {
    border-left: var(--border-width) solid var(--box2-main-color);
}

.box3 {
    border-left: var(--border-width) solid var(--box3-main-color);
}

.box4 {
    border-left: var(--border-width) solid var(--box4-main-color);
}

.icon-1 {
    color: var(--box1-main-color);
}

.icon-2 {
    color: var(--box2-main-color)
}

.icon-3 {
    color: var(--box3-main-color)
}

.icon-4 {
    color: var(--box4-main-color)
}

.icon i {
    font-size: 1.1rem;
    margin-top: 0.4em;
}

.message {
    line-height: 1.5;
}